<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表渲染</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>

    <div id="root">
        <h2>列表人员</h2>
        <ul>
            <!--v-for in 遍历数组-->
            <li v-for="(item, index) in personArr" :key="item.id">
               {{index}}-- {{ item.name }} -- {{ item.age }}
            </li>

        </ul>
        <hr>

        <ul>
            <!--v-for of遍历数组-->
            <li v-for="(item, index) of personArr" :key="item.id">
                {{index}}-- {{ item.name }} -- {{ item.age }}
            </li>
        </ul>

        <hr>

        <ul>
            <!--遍历对象-->
            <li v-for="(value, name,index) in person"  :key="index">
                {{index}}-- {{ name}} -- {{ value }}
            </li>
        </ul>


        <hr>

        <ul>
            <!--遍历字符串-->
            <li v-for="(value,index) in str"  :key="index">
                {{ index}} -- {{ value }}
            </li>
        </ul>
        <hr>
        <ul>
            <!--遍历指定次数-->
            <li v-for="item in 10">
                {{ item}}
            </li>
        </ul>


    </div>

</body>
<script type="text/javascript">
    Vue.config.productionTip = false //阻止 vue 在启动时生成生产提示。

    const vm = new Vue({
        el: '#root',
        data: {
            name: "好好学习，天天向上",
            personArr: [
                {id: 1, name: '张三', age: 48},
                {id: 2, name: '李四', age: 18},
                {id: 3, name: '王五', age: 28},
            ],
            person: {
                id: 1,
                name: '张三',
                age: 48
            },
            str:'hello'
        }
    });


</script>
</html>